
body {
  font-size: 2em;
}

body, header, main {
  box-sizing: border-box;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  border: 10px;
}

p, header {
  font-family: sans-serif;
}

.lorem {
  font-family: Verdana, monospace;
  font-size: 1rem;
}
